* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nome-site {
    font-family: "Antonio", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
}
.sub-titulo {
    font-family: Arial, Helvetica, sans-serif;
}


body {
    /* Container Mãe */
    display: flex;
    font-family: "Montserrat";
    color: #404040;
    background-color: rgb(191, 192, 190);
    height: 100vh;
    justify-content: center;
    align-items: end;
    padding: 50px;


}

form {
    /* Container Filho */
    background-color: white;
    padding: 50px;
    border-radius: 5%;
    display: flex;
    gap: 25px;
    flex-direction: column;

}

h1 {
    font-size: 24px;


}

.barra-horizontal {
    background-color: aqua;
    height: 5px;
    width: 152px;
    border-radius: 2px;

}

.campo-input {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.lembrar {
    display: flex;
    gap: 5px;



}

.titulo {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

button {

    padding: 15px;
    background-image: linear-gradient(aqua, rgb(15, 169, 174));
    border-radius: 20px;
    width: 130px;
    border: solid 1px rgb(15, 169, 174);
    border-right-width: 4px;
    border-bottom-width: 4px;
    align-self: center;
    font-size: 16px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;

}

input {
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    background-color: rgb(191, 192, 190);
}

a {
    color: rgb(15, 169, 174);
}